*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --Red-400 : hsl(0, 100%, 66%);
    --White: hsl(0, 100%, 100%);
    --Gray-200: hsl(270, 3%, 87%);
    --Gray-400: hsl(212, 12%, 71%);
    --Purple-950: hsl(278, 68%, 11%);
}
img{
    max-width: 100%;
    display: block;
}
body{
    font-family: 'Space Grotesk', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    min-height: 100vh;
}
.bg-gr{
    position: relative;
    overflow: visible;
}

/* card front */
 .card-front{
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translateX(150px); 
    z-index: 2;
 }
 .card-front img{
    width: 350px;
 }
 .card-det{
    position: absolute;
    top: 20%;
    left: 30px;
    width: 80%;
    font-family: inherit;
    color: #fff;
    text-transform: uppercase;
 } 
 .card-det button{
    width: 50px;
    height: auto;
    background-color: transparent;
    border: 0;
 }
 .card-det #card-number{
    letter-spacing: 2px;
    margin-block: 26px 10px;
 }
 .name-exp{
    display: flex;
    justify-content: space-between;
    margin-block: 2em 0;
 }
 .name-exp span{
    font-size: 12px;
    letter-spacing:2px;
 }
/* card back */
.card-back{
    position: absolute;
    bottom: 27%;
    left: 20%;
    /* transform: translateX(220px);  */
    z-index: 1;
}
.card-front img{
    width: 350px;
 }
#card-cvc{
  position: absolute;
  top: 95px;
  right: 40px;
  font-size: 14px;
  color: white;
}


.bg-w{
    padding-block: 7em 8em;
    
}

/* Form labe & input styling */
form{
    padding-inline: 2em;
    max-width: 750px;
    margin-block: 0em 3em;
}

form .label{
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--Purple-950);
    font-weight: 700;
    text-transform: uppercase;
}
form .input{
    width: 100%;
    max-width: 750px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid var(--Gray-200);
    outline: 0;
    color: var(--Purple-950);
    margin-block: .8em 0;
    padding: 1.3em 1.2em;
    font-family: inherit;
    font-size: 1.1rem;
}
form .input:active,
form .input:focus{
    border-color: var(--Linear-gradient);
    outline: 0;
}
form .input::placeholder{
    font-size: 1.233rem;
    font-family: inherit;
    color: var(--Gray-400);
}
.card-number{
    margin-top: 2em;
}
.card-number input{
    width: 100%;
    max-width: 750px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--Gray-200);
    outline: 0;
    color: var(--Purple-950);
    margin-block: .8em 0;
    padding: 1.3em 1.2em;
    font-family: inherit;
    font-size: 1.1rem;
}

/* Exp date and cvc number styling */
.card-details{
    display: flex;
    gap: 17px;
    align-items: center;
    margin-block: 2.3em 2.6em;
}
.exp-date label,
.CVC label{
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--Purple-950);
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
.exp-inputs{
    display: flex;
    gap: 8px;
}
.exp-date input{
    font-family: inherit;
    height: 50px;
    border-radius: 8px;
    border: 1px solid var(--Gray-200);
    outline: 0;
    padding: 1.3em 1.2em;
    font-size: 1.1rem;
    width: 80px;
    margin-block: .6em 0em;
}
.CVC{
    flex: 1;
    /* margin-block: .8em 1.5em; */
}
.CVC input{
    width: 100%;
    max-width: 250px;
    min-width: 60px;
    box-sizing: border-box;
    font-family: inherit;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--Gray-200);
    padding: 1.3em .7em;
    font-size: 1.1rem;
    /* margin-block: .8em 1.5em; */
    transition: width 0.2s;
}

/* Form button */
form button{
    background-color: var(--Purple-950);
    color: #fff;
    border: 0;
    border-radius: 8px;
    padding: .8em 1.3em;
    width: 100%;
    font-weight: 500;
    font-size: 1.3rem;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
form button:hover,
form button:focus{
    background-color: hsl(279, 6%, 55%);
}

/* Error state */
.err-num{
    color: var(--Red-400);
    font-size: .7rem;
    font-weight: 600;
}

.messages{
    display: flex;
    align-items: center;
    gap: 3em;
}
.month-err{
    color: var(--Red-400);
    font-size: .7rem;
}
.year-err{
    color: var(--Red-400);
    font-size: .7rem;
}

.cvc-err{
    display: block;
    font-size: .7rem;
    color: var(--Red-400);
}

/* MEDIA QUERIES */

/* Media query for cvc input */
@media(min-width:550px) and (max-width: 700px) {
    .CVC input{
    max-width: 460px;
    min-width: 60px;
    }
}

/* Media query for the form background */
@media(min-width:700px) {
    .bg-w{
        padding-block: 16em 3em;

    }
    article{
        display: flex;
        gap: 3em;
    }
    .bg-w{
        padding-left: 7em;
    }
    @media(min-width: 1300px) {
    .bg-w{
        padding-left: 27em;
    }
}
}
@media(min-width:700px) and (max-width:800px){
    article{
        gap: 1.6em;
    }
    .bg-w{
        padding-left: 3em;
    }
}

/* Media query for the gradient image */
@media (min-width: 700px) {
    .bg-gr picture img {
        width: 490px;
        height: 983px;
    }
}

/* Media queries for the cards in smaller screens */
@media(min-width:370px) and (max-width:550px){
    .card-front{
        transform: translateX(-10px); 
        top: 68%;
        z-index: 2;
 }
 .card-front img{
    width: 330px;
 }
   .card-back{
        transform: translateX(-17px); 
        z-index: 1;
        bottom: 13%;
}
#card-cvc{
    top: 46%;
}
.card-back img{
    width: 330px;
}
}
@media(min-width:550px) and (max-width:700px) {
    .card-front{
        transform: translateX(38px); 
        top: 62%;
        z-index: 2;
 }
  .card-front img{
    width: 350px;
 }
 .card-back{
        transform: translateX(70px); 
        z-index: 1;
        bottom: 13%;
}
.card-back img{
    width: 350px;
}
}

@media(min-width:700px) {

     .card-front{
        transform: translateX(38px); 
 }
    .card-back{
        top: 40%;
        transform: translateX(90px); 
 }
 .card-det #card-number{
    margin-top: 1em;
 }
 .card-det .name-exp{
    margin-block: 1.2em 0em;
 }

 .card-back #card-cvc{
    top: 60px;
 }
}

@media(min-width:900px) {
     .card-det #card-number{
        margin-top: 1.6em;
 }
 .card-det .name-exp{
    margin-block: 1.9em 0em;
 }
    .card-back{
        top: 43%;
    }
}
@media(min-width:1100px) {
    .card-front{
        transform: translateX(180px);
    }
    .card-back{
        transform: translateX(160px);
    }
    .card-back #card-cvc{
        top: 93px;
    }
}

